$background-color: #F9F9F9;
$secondary-background: #E9E9E9;

// fonts
$font-family: 'Muli', sans-serif;
$font-color-primary: #6C7078;
$font-color-secondary: #ADADAD;

// lines
$line-color: #979797;
$line-width: 2px;